
spring:
  datasource:
    hikari:
      maximum-pool-size: 4
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/sns
    username: root
    password: rlaxogjs8312
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect


jwt:
  secret-key: sns_application_secret_key_rlaxogjs
  token:
    expired-time-ms: 25920000000